<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tooling.Settings.ColourIntegerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.ColourStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.ColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tooling.Settings.ColourIntegerSettings>
            <setting name="AlphaChannelValue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="RedChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreenChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
        </Tooling.Settings.ColourIntegerSettings>
        <Tooling.Settings.ColourStringSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
        </Tooling.Settings.ColourStringSettings>
        <Tooling.Settings.ColourSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
        </Tooling.Settings.ColourSettings>
        <Tooling.Properties.Settings>
            <setting name="UpdateInRealTime" serializeAs="String">
                <value>False</value>
            </setting>
        </Tooling.Properties.Settings>
    </userSettings>
</configuration>