<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Tooling.Settings.ColourBlendingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.PaletteTypefaceSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.GlobalStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.GlobalBooleanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.ColourIntegerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.ColourStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Settings.ColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Tooling.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Tooling.Settings.ColourBlendingSettings>
            <setting name="DarkestColourIntensity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MediumColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightestColourIntensity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BaseColour" serializeAs="String">
                <value>Black</value>
            </setting>
        </Tooling.Settings.ColourBlendingSettings>
        <Tooling.Settings.PaletteTypefaceSettings>
            <setting name="GlobalPaletteTypeface" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
        </Tooling.Settings.PaletteTypefaceSettings>
        <Tooling.Settings.GlobalStringSettings>
            <setting name="BasePaletteMode" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedbackText" serializeAs="String">
                <value>This will become informative...</value>
            </setting>
            <setting name="PaletteExportPath" serializeAs="String">
                <value />
            </setting>
        </Tooling.Settings.GlobalStringSettings>
        <Tooling.Settings.GlobalBooleanSettings>
            <setting name="DevelopmentMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableListItem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCircularPictureBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoadColoursOnOpenPalette" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsInBetaMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HidePropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutomaticallyUpdateColours" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePromptFeedback" serializeAs="String">
                <value>True</value>
            </setting>
        </Tooling.Settings.GlobalBooleanSettings>
        <Tooling.Settings.ColourIntegerSettings>
            <setting name="AlphaChannelValue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="RedChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreenChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
        </Tooling.Settings.ColourIntegerSettings>
        <Tooling.Settings.ColourStringSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
        </Tooling.Settings.ColourStringSettings>
        <Tooling.Settings.ColourSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
        </Tooling.Settings.ColourSettings>
        <Tooling.Properties.Settings>
            <setting name="UpdateInRealTime" serializeAs="String">
                <value>False</value>
            </setting>
        </Tooling.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Krypton Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.581.0" newVersion="5.470.581.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Krypton Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.700.0" newVersion="5.470.700.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>