<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net47" />
  <package id="EasyScintilla" version="1.0.4" targetFramework="net47" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net47" />
  <package id="log4net" version="1.2.10" targetFramework="net47" />
  <package id="ScintillaNet.SearchBox" version="1.0.3" targetFramework="net47" />
</packages>