<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings>
            <setting name="StartUpdateInstallationUponDownloadCompletion"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageType" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageSeverity" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangelogServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialisedUpdateIconURL" serializeAs="String">
                <value />
            </setting>
            <setting name="MD5Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA1Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA256Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA384Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA512Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="RIPEMD160Checksum" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageReleaseDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageFileSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionalArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageBuildDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageBuildString" serializeAs="String">
                <value />
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ChecksumFileURL" serializeAs="String">
                <value />
            </setting>
        </KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings>
        <KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLFileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableAutomaticUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateOfLastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfNextCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfLastUpdateInstallation" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysUseUACElevation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings>
    </userSettings>
</configuration>