<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KryptonApplicationUpdater.Settings.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KryptonApplicationUpdater.Settings.ThemeSettings>
            <setting name="UseCustomTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007BlackTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007BlueTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2007SilverTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2010BlackTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseOffice2010BlueTheme" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseOffice2010SilverTheme" serializeAs="String">
                <value>False</value>
            </setting>
        </KryptonApplicationUpdater.Settings.ThemeSettings>
        <KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings>
            <setting name="StartUpdateInstallationUponDownloadCompletion"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageType" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageSeverity" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangelogServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialisedUpdateIconURL" serializeAs="String">
                <value />
            </setting>
            <setting name="MD5CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA1CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA256CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA384CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA512CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="RIPEMD160CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageReleaseDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageFileSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OptionalArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageBuildDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageBuildString" serializeAs="String">
                <value />
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CheckSumFileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallCountdown" serializeAs="String">
                <value>0</value>
            </setting>
        </KryptonApplicationUpdater.Settings.XMLFileApplicationUpdaterSettings>
        <KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="XMLFileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="DisableAutomaticUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateOfLastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfNextCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfLastUpdateInstallation" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="AlwaysUseUACElevation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
        </KryptonApplicationUpdater.Settings.InternalApplicationUpdaterSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Workspace" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.70.534.0" newVersion="4.70.534.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Ribbon" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.70.533.0" newVersion="4.70.533.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.70.534.0" newVersion="4.70.534.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.70.546.0" newVersion="4.70.546.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>