<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Krypton Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.1252.0" newVersion="5.470.1252.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>