<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings>
            <setting name="BackGroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="BackGroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings>
    </userSettings>
</configuration>