<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonColourButtonCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckedListBoxCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckButtonCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckBoxCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonColourButtonCommonSettings>
            <setting name="BackGroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="BackGroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonColourButtonCommonSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckedListBoxCommonSettings>
            <setting name="BackgroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="BackgroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemBackgroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ItemBackgroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckedListBoxCommonSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckButtonCommonSettings>
            <setting name="BackGroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="BackGroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckButtonCommonSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckBoxCommonSettings>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonCheckBoxCommonSettings>
        <ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings>
            <setting name="BackGroundColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="BackGroundColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="LongTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="ShortTextColourTwo" serializeAs="String">
                <value />
            </setting>
        </ToolkitControlSettings.Settings.Toolkit.Common.KryptonButtonCommonSettings>
    </userSettings>
</configuration>