<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColourCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColourCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <applicationSettings>
        <ColourCreator.Properties.Settings>
            <setting name="Template" serializeAs="String">
                <value>{0}using System.Drawing;
using System.Windows.Forms;

namespace {1}
{{
    class {2} : ProfessionalColorTable
    {{
        public override Color ButtonSelectedHighlight
        {{
            get {{ return ButtonSelectedGradientMiddle; }}
        }}
        public override Color ButtonSelectedHighlightBorder
        {{
            get {{ return ButtonSelectedBorder; }}
        }}
        public override Color ButtonPressedHighlight
        {{
            get {{ return ButtonPressedGradientMiddle; }}
        }}
        public override Color ButtonPressedHighlightBorder
        {{
            get {{ return ButtonPressedBorder; }}
        }}
        public override Color ButtonCheckedHighlight
        {{
            get {{ return ButtonCheckedGradientMiddle; }}
        }}
        public override Color ButtonCheckedHighlightBorder
        {{
            get {{ return ButtonSelectedBorder; }}
        }}
        public override Color ButtonPressedBorder
        {{
            get {{ return ButtonSelectedBorder; }}
        }}
{3}    }}
}}</value>
            </setting>
            <setting name="PropertyTemplateArgb" serializeAs="String">
                <value>        public override Color {0}
        {{ 
            get {{ return Color.FromArgb({1}, {2}, {3}, {4}); }}
        }}</value>
            </setting>
            <setting name="ColourHeight" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="ColourWidth" serializeAs="String">
                <value>48</value>
            </setting>
            <setting name="PropertyTemplateName" serializeAs="String">
                <value>        public override Color {0}
        {{ 
            get {{ return Color.FromName("{1}"); }}
        }}</value>
            </setting>
            <setting name="TemplateVB" serializeAs="String">
                <value>{0}Imports System.Drawing
Imports System.Windows.Forms

Namespace {1}
	Class {2}
		Inherits ProfessionalColorTable
		Public Overrides ReadOnly Property ButtonSelectedHighlight() As Color
			Get
				Return ButtonSelectedGradientMiddle
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonSelectedHighlightBorder() As Color
			Get
				Return ButtonSelectedBorder
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonPressedHighlight() As Color
			Get
				Return ButtonPressedGradientMiddle
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonPressedHighlightBorder() As Color
			Get
				Return ButtonPressedBorder
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonCheckedHighlight() As Color
			Get
				Return ButtonCheckedGradientMiddle
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonCheckedHighlightBorder() As Color
			Get
				Return ButtonSelectedBorder
			End Get
		End Property
		Public Overrides ReadOnly Property ButtonPressedBorder() As Color
			Get
				Return ButtonSelectedBorder
			End Get
		End Property
{3}	End Class
End Namespace</value>
            </setting>
            <setting name="PropertyTemplateNameVB" serializeAs="String">
                <value>		Public Overrides ReadOnly Property {0}() As Color
			Get
				Return Color.FromArgb({1}, {2}, {3}, {4})
			End Get
		End Property</value>
            </setting>
            <setting name="AutoGeneratedHeader" serializeAs="String">
                <value>{0} &lt;auto-generated&gt;
{0}     This code was generated by .NET ToolStrip Customizer.
{0}     http://toolstripcustomizer.codeplex.com/
{0} &lt;/auto-generated&gt;

</value>
            </setting>
            <setting name="CommentVB" serializeAs="String">
                <value>'</value>
            </setting>
            <setting name="CommentCS" serializeAs="String">
                <value>//</value>
            </setting>
            <setting name="PropertyTemplateArgbVB" serializeAs="String">
                <value>		Public Overrides ReadOnly Property {0}() As Color
			Get
				Return Color.FromArgb({1}, {2}, {3}, {4})
			End Get
		End Property</value>
            </setting>
        </ColourCreator.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ColourCreator.Properties.Settings>
            <setting name="DefaultNamespace" serializeAs="String">
                <value>MyNamespace</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludeHeader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RoundedEdges" serializeAs="String">
                <value>True</value>
            </setting>
        </ColourCreator.Properties.Settings>
    </userSettings>
</configuration>