<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PaletteExplorer.Settings.PersistentColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <PaletteExplorer.Settings.PersistentColourSettings>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControlColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusTextColour" serializeAs="String">
                <value />
            </setting>
        </PaletteExplorer.Settings.PersistentColourSettings>
    </userSettings>
</configuration>