<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCompleteMenu-ScintillaNET" version="1.6.1" targetFramework="net47" />
  <package id="jacobslusser.ScintillaNET" version="3.6.3" targetFramework="net47" />
  <package id="KryptonToolkitSuite5470" version="5.470.720" targetFramework="net47" />
  <package id="WindowsAPICodePack" version="1.1.0" targetFramework="net47" />
</packages>