<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Workspace" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.534.0" newVersion="5.470.534.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.544.0" newVersion="5.470.544.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.533.0" newVersion="5.470.533.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Ribbon" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.533.0" newVersion="5.470.533.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>