<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourSix" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourSix" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControlColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PalettePropertiesPaneWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ColourPropertiesWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings>
        <ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings>
            <setting name="ShowPalettePropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowColourPropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings>
    </userSettings>
</configuration>