<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ToolkitSettings.Settings.Core.ColourStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Core.ColourIntegerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Global.GlobalStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.PaletteThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Core.ColourBlendingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.ColourCollectionStringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.ColourIntensitySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Properties.ColourPropertyWindowSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.AllMergedColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Extended_Controls.BooleanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Extended_Controls.WindowLocationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Extended_Controls.StringSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Application_Updater.ThemeSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Application_Updater.XMLFileApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Application_Updater.InternalApplicationUpdaterSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.StandardControlTextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Global.GlobalBooleanSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ToolkitSettings.Settings.Core.ColourStringSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourSix" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourSix" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControlColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusStripTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="RibbonTabTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Core.ColourStringSettings>
        <ToolkitSettings.Settings.Core.ColourIntegerSettings>
            <setting name="AlphaChannelValue" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="RedChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GreenChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BlueChannelValue" serializeAs="String">
                <value>0</value>
            </setting>
        </ToolkitSettings.Settings.Core.ColourIntegerSettings>
        <ToolkitSettings.Settings.Global.GlobalStringSettings>
            <setting name="BasePaletteMode" serializeAs="String">
                <value />
            </setting>
            <setting name="FeedbackText" serializeAs="String">
                <value>This will become informative...</value>
            </setting>
            <setting name="PaletteExportPath" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Global.GlobalStringSettings>
        <ToolkitSettings.Settings.Palette_Explorer.PaletteThemeSettings>
            <setting name="CustomThemeFilePath" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.PaletteThemeSettings>
        <ToolkitSettings.Settings.Core.ColourBlendingSettings>
            <setting name="DarkestColourIntensity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MiddleColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightestColourIntensityq" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Core.ColourBlendingSettings>
        <ToolkitSettings.Settings.Palette_Explorer.ColourCollectionStringSettings>
            <setting name="ColourStringCollectionValues" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Border Colour</string>
                        <string>Alternative Normal Text Colour</string>
                        <string>Normal Text Colour</string>
                        <string>Disabled Text Colour</string>
                        <string>Focused Text Colour</string>
                        <string>Pressed Text Colour</string>
                        <string>Disabled Control Colour</string>
                        <string>Link Normal Colour</string>
                        <string>Link Focused Colour</string>
                        <string>Link Hover Colour</string>
                        <string>Link Visited Colour</string>
                        <string>Custom Colour One</string>
                        <string>Custom Colour Two</string>
                        <string>Custom Colour Three</string>
                        <string>Custom Colour Four</string>
                        <string>Custom Colour Five</string>
                        <string>Custom Colour Six</string>
                        <string>Custom Text Colour One</string>
                        <string>Custom Text Colour Two</string>
                        <string>Custom Text Colour Three</string>
                        <string>Custom Text Colour Four</string>
                        <string>Custom Text Colour Five</string>
                        <string>Custom Text Colour Six</string>
                        <string>Menu Text Colour</string>
                        <string>Status Text Colour</string>
                        <string>Ribbon Tab Text Colour</string>
                    </ArrayOfString>
                </value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.ColourCollectionStringSettings>
        <ToolkitSettings.Settings.Palette_Explorer.ColourIntensitySettings>
            <setting name="DarkestColourIntensity" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="MediumColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightColourIntensity" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="LightestColourIntensity" serializeAs="String">
                <value>0.5</value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.ColourIntensitySettings>
        <ToolkitSettings.Settings.Palette_Explorer.Properties.ColourPropertyWindowSettings>
            <setting name="ColourControlText" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Properties.ColourPropertyWindowSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.AllMergedColourSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourSix" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourSix" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControlColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusStripTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="RibbonTabTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.AllMergedColourSettings>
        <ToolkitSettings.Settings.Extended_Controls.BooleanSettings>
            <setting name="UseVirusTotalUseTLS" serializeAs="String">
                <value>False</value>
            </setting>
        </ToolkitSettings.Settings.Extended_Controls.BooleanSettings>
        <ToolkitSettings.Settings.Extended_Controls.WindowLocationSettings>
            <setting name="DefaultWindowPosition" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ToolkitSettings.Settings.Extended_Controls.WindowLocationSettings>
        <ToolkitSettings.Settings.Extended_Controls.StringSettings>
            <setting name="PaletteExplorerLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="VirusTotalAPIKey" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Extended_Controls.StringSettings>
        <ToolkitSettings.Settings.Application_Updater.ThemeSettings>
            <setting name="CustomThemePath" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Application_Updater.ThemeSettings>
        <ToolkitSettings.Settings.Application_Updater.XMLFileApplicationUpdaterSettings>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpdateInstallationUponDownloadCompletion"
                serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UpdatePackageBuildDate" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageReleaseDate" serializeAs="String">
                <value />
            </setting>
            <setting name="InstallCountdown" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="UpdatePackageFileSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ApplicationIdentifier" serializeAs="String">
                <value />
            </setting>
            <setting name="ChangelogServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="CheckSumFileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="KnowledgebaseArticleNumber" serializeAs="String">
                <value />
            </setting>
            <setting name="KnowledgebaseArticleNumberURL" serializeAs="String">
                <value />
            </setting>
            <setting name="MD5CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="RIPEMD160CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA1CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA256CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA384CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="SHA512CheckSum" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerApplicatonVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageType" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageSeverity" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageName" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageServerURLDownloadLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageBuildString" serializeAs="String">
                <value />
            </setting>
            <setting name="VirusTotalScanURL" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdatePackageDescription" serializeAs="String">
                <value />
            </setting>
            <setting name="OptionalArguments" serializeAs="String">
                <value />
            </setting>
            <setting name="SpecialisedUpdateIconURL" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Application_Updater.XMLFileApplicationUpdaterSettings>
        <ToolkitSettings.Settings.Application_Updater.InternalApplicationUpdaterSettings>
            <setting name="AlwaysUseUACElevation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BetaFlag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableAutomaticUpdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DateOfLastCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfNextCheck" serializeAs="String">
                <value />
            </setting>
            <setting name="DateOfLastUpdateInstallation" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationName" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationIdentification" serializeAs="String">
                <value />
            </setting>
            <setting name="ApplicationPackageServerURL" serializeAs="String">
                <value />
            </setting>
            <setting name="DestinationDownloadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="VersionXMLFileURL" serializeAs="String">
                <value />
            </setting>
            <setting name="CurrentApplicationVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerVersion" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Application_Updater.InternalApplicationUpdaterSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.StandardControlTextColourSettings>
            <setting name="MenuTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="StatusStripTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="RibbonTabTextColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.StandardControlTextColourSettings>
        <ToolkitSettings.Settings.Global.GlobalBooleanSettings>
            <setting name="IsInDeveloperMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutomaticallyUpdateColours" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DisableListItem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HidePropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsInBetaMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoadColoursOnOpenPalette" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowBuildTag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCircularPictureBoxes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UsePromptFeedback" serializeAs="String">
                <value>False</value>
            </setting>
        </ToolkitSettings.Settings.Global.GlobalBooleanSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings>
            <setting name="CustomTextColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomTextColourSix" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.CustomTextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings>
            <setting name="CustomColourOne" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourTwo" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourThree" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFour" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourFive" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColourSix" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.CustomColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings>
            <setting name="LinkFocusedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkHoverColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkNormalColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkVisitedColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LinkDisabledColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.LinkTextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings>
            <setting name="AlternativeNormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="FocusedTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="NormalTextColour" serializeAs="String">
                <value />
            </setting>
            <setting name="PressedTextColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.TextColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings>
            <setting name="BorderColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DisabledControlColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.MiscellaneousColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings>
            <setting name="BaseColour" serializeAs="String">
                <value />
            </setting>
            <setting name="DarkColour" serializeAs="String">
                <value />
            </setting>
            <setting name="MediumColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightColour" serializeAs="String">
                <value />
            </setting>
            <setting name="LightestColour" serializeAs="String">
                <value />
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.Colours.BasicColourSettings>
        <ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings>
            <setting name="MainWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PalettePropertiesPaneWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ColourPropertiesWindowLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.WindowLocationSettings>
        <ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings>
            <setting name="ShowPalettePropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowColourPropertiesPane" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCircularDisplay" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowStandardDisplay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DisplayIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowAdvancedDetails" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultColour" serializeAs="String">
                <value>Transparent</value>
            </setting>
        </ToolkitSettings.Settings.Palette_Explorer.GeneralPaletteExplorerSettings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Krypton Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.677.0" newVersion="5.470.677.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Krypton Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.901.0" newVersion="5.470.901.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>