<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KryptonExtendedToolkit5470CoreModule" version="5.470.1400" targetFramework="net47" />
  <package id="KryptonExtendedToolkit5470NaviSuiteModule" version="5.470.441" targetFramework="net47" />
  <package id="KryptonToolkitSuite5470CoreModule" version="5.470.1300" targetFramework="net47" />
</packages>