<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ExtendedControls.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <System.Windows.Forms.ApplicationConfigurationSection>
    <add key="DpiAwareness" value="PerMonitorV2" />
  </System.Windows.Forms.ApplicationConfigurationSection>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Workspace" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.534.0" newVersion="5.470.534.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Toolkit" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.544.0" newVersion="5.470.544.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Navigator" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.533.0" newVersion="5.470.533.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ComponentFactory.Krypton.Ribbon" publicKeyToken="a87e673e9ecb6e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.470.533.0" newVersion="5.470.533.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ExtendedControls.Properties.Settings>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="PaletteExplorerLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultXCoordinate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DefaultYCoordinate" serializeAs="String">
        <value>0</value>
      </setting>
    </ExtendedControls.Properties.Settings>
  </userSettings>
</configuration>